$project-width-mobile: 75vw;
$project-marg-left-mobile: 1em;

$project-height-mobile: 80vh;
$project-height-tablet: 70vh;
$project-width-tablet: 60vw;
$project-marg-left-tablet: 3em;


$popup-width: 90vw;
$popup-height: 90vh;